---
  language: go
  sudo: true
  notifications:
    email: true
  go:
    - 1.x
    - tip
  env:
    global:
      - GO15VENDOREXPERIMENT=1
  matrix:
    allow_failures:
      - go: tip
    fast_finish: true
  install:
    - go get github.com/golang/lint/golint
    - go get honnef.co/go/tools/cmd/staticcheck
    - curl -sSL -o runc https://misc.j3ss.co/tmp/runc && chmod +x runc && sudo mv runc /usr/bin/runc
    - sudo apt install -y --no-install-recommends uidmap
  script:
    - go build -v
    - go vet $(go list ./... | grep -v vendor)
    - staticcheck $(go list ./... | grep -v vendor)
    - test -z "$(golint ./... | grep -v vendor | tee /dev/stderr)"
    - test -z "$(gofmt -s -l . | grep -v vendor | tee /dev/stderr)"
    - go test $(go list ./... | grep -v vendor)
    - make cover
    - make release
  after_success:
    - bash <(curl -s https://codecov.io/bash)
  deploy:
    provider: releases
    api_key:
      secure: "U12GervAMGPIl6Gg2DXdNrLwi7alBco1Vp8FQ1JkCXbncY+Pkq+jske+PgYK8PspeEVr9HQwQYRYCrLVMZbwoNQhj6Ks2YP1FwDEUbS3k+ECDILiMG+MUlLSLJKZWzFxibKs/5QDmMZmA8Gyhvyk5yFcfc7mhMBXiydtcP1emMFntXjkI3xj96onE+8PNKLOmkoyWuC/yvi3VXl8CXPb8g6rztuZnfaGbSBIN9wxEUeJRN71+IRQxd1CHJPi1K1W5RBcD/GjHgzafW9tu/GJzCvWXzOTRctOte8gduXGFGMus4DhdLV1lf5tC08mcwm1XYoWWQYHB2WIR5T3fmIQhibJ2LxwC2rkBPDKAjyTzLLBA4D3LujmpF0gbVkwYeXwUQO3AfivfC6/YzJa8oJeL3igGMyc5ikHfHyOVRVA2eTxQBWe8J9C7OwxnYYzdsYu6BVPQ/S8J7eNhKTov+2Viw9un4fg3Mt6vbwVK2ZF3DwhQU03p9Hq38Thps4ic+fBix3kkWjBjFfFQbhdNL3oirZUad9JMGkB0afxmPiHkXZ5VYYF6gUNOCCi/dcW4aiE3uZWjaqW8QCQIzKGQKP9WtYbLL3hShfyvv8mZLnIzxiCdy9pogiwh3BOugBFG5NHRSJ8VGzwrMxKkyrpj+xEHlNiaRbrY8TLTSnkayLMC2Q="
    file:
      - cross/img-linux-amd64.md5
      - cross/img-linux-amd64.sha256
      - cross/img-linux-amd64
    skip_cleanup: true
    on:
      tags: true
